body {
  background-color: rgba(0, 0, 0, 0.623);
}

.form-group label {
  display: block;
  margin-left: 5px;
  font-weight: bold;
}

.form-input {
    box-sizing: border-box;
  width: 100%;
  padding: 10px ;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-input:focus {
  border-color: #3b82f6; /* Un azul m치s claro */
  color: #3b82f6;
  outline: none;
}



h1 {
  color: #fff;
  text-align: center;
}

main {
  width: 25%;
  margin: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

#video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Margen o espacio encima del video*/
}

#video-section iframe {
  width: 100%;
    max-width: 600px; /* Ancho m치ximo del video */
  height: auto;
  border-radius: 10px;
  border: 3px solid #ccc; /* Borde alrededor del video */
}
.flex-container {
  display: flex;
    flex-wrap: wrap;
}.submit-button {
    margin-top: 10px;
  background-color: #3b82f6; /* Un azul m치s claro */
  color: white;
  border: none;
  cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
     padding: 10px 50px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  
}

.submit-button:hover {
  background-color: #2563eb;
  
  
  /* Un azul m치s oscuro al pasar el mouse */
}
.submit-button {

 
  transition: width 2s, height 4s;
}

